<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmvc.dao.WaybillDao" >
  <resultMap id="BaseResultMap" type="com.springmvc.model.Waybill" >
    <result column="ydbh" property="ydbh" jdbcType="CHAR" />
    <result column="tyrbh" property="tyrbh" jdbcType="CHAR" />
    <result column="tyrmc" property="tyrmc" jdbcType="VARCHAR" />
    <result column="tyrlxr" property="tyrlxr" jdbcType="VARCHAR" />
    <result column="tyrdz" property="tyrdz" jdbcType="VARCHAR" />
    <result column="tyrlxdh1" property="tyrlxdh1" jdbcType="VARCHAR" />
    <result column="tyrlxdh2" property="tyrlxdh2" jdbcType="VARCHAR" />
    <result column="tyrsj" property="tyrsj" jdbcType="VARCHAR" />
    <result column="shrbh" property="shrbh" jdbcType="CHAR" />
    <result column="shrmc" property="shrmc" jdbcType="VARCHAR" />
    <result column="shrlxr" property="shrlxr" jdbcType="VARCHAR" />
    <result column="shrdz" property="shrdz" jdbcType="VARCHAR" />
    <result column="shrlxdh1" property="shrlxdh1" jdbcType="VARCHAR" />
    <result column="shrlxdh2" property="shrlxdh2" jdbcType="VARCHAR" />
    <result column="shrsj" property="shrsj" jdbcType="VARCHAR" />
    <result column="tyrq" property="tyrq" jdbcType="DATE" />
    <result column="khyqddsj" property="khyqddsj" jdbcType="DATE" />
    <result column="qydmc" property="qydmc" jdbcType="CHAR" />
    <result column="qydzbh" property="qydzbh" jdbcType="CHAR" />
    <result column="mddmc" property="mddmc" jdbcType="CHAR" />
    <result column="mddzbh" property="mddzbh" jdbcType="CHAR" />
    <result column="dhcdh" property="dhcdh" jdbcType="VARCHAR" />
    <result column="fwyq" property="fwyq" jdbcType="CHAR" />
    <result column="shfs" property="shfs" jdbcType="INTEGER" />
    <result column="sohfs" property="sohfs" jdbcType="INTEGER" />
    <result column="hwmc" property="hwmc" jdbcType="VARCHAR" />
    <result column="js" property="js" jdbcType="INTEGER" />
    <result column="bibh" property="bibh" jdbcType="VARCHAR" />
    <result column="hwdjbh" property="hwdjbh" jdbcType="VARCHAR" />
    <result column="zl" property="zl" jdbcType="REAL" />
    <result column="tj" property="tj" jdbcType="REAL" />
    <result column="hsbl" property="hsbl" jdbcType="INTEGER" />
    <result column="zldj" property="zldj" jdbcType="REAL" />
    <result column="tjdj" property="tjdj" jdbcType="REAL" />
    <result column="ffje" property="ffje" jdbcType="REAL" />
    <result column="gbf" property="gbf" jdbcType="REAL" />
    <result column="thf" property="thf" jdbcType="REAL" />
    <result column="shf" property="shf" jdbcType="REAL" />
    <result column="dbf" property="dbf" jdbcType="REAL" />
    <result column="bje" property="bje" jdbcType="REAL" />
    <result column="bjl" property="bjl" jdbcType="INTEGER" />
    <result column="bjf" property="bjf" jdbcType="REAL" />
    <result column="hjje" property="hjje" jdbcType="REAL" />
    <result column="fqysje" property="fqysje" jdbcType="REAL" />
    <result column="dqjsysje" property="dqjsysje" jdbcType="REAL" />
    <result column="shrfkysje" property="shrfkysje" jdbcType="REAL" />
    <result column="fqss" property="fqss" jdbcType="REAL" />
    <result column="jsss" property="jsss" jdbcType="REAL" />
    <result column="shrfyss" property="shrfyss" jdbcType="REAL" />
    <result column="dshke" property="dshke" jdbcType="REAL" />
    <result column="dsfwfl" property="dsfwfl" jdbcType="INTEGER" />
    <result column="dshk" property="dshk" jdbcType="REAL" />
    <result column="bz" property="bz" jdbcType="VARCHAR" />
    <result column="tyrqz" property="tyrqz" jdbcType="VARCHAR" />
    <result column="cyrqz" property="cyrqz" jdbcType="VARCHAR" />
    <result column="cwqz" property="cwqz" jdbcType="VARCHAR" />
    <result column="jhzt" property="jhzt" jdbcType="INTEGER" />
    <result column="ydwz" property="ydwz" jdbcType="CHAR" />
    <result column="ydzt" property="ydzt" jdbcType="INTEGER" />
    <result column="fhcwzt" property="fhcwzt" jdbcType="INTEGER" />
    <result column="dhcwzt" property="dhcwzt" jdbcType="INTEGER" />
    <result column="kdsj" property="kdsj" jdbcType="DATE" />
    <result column="lrsj" property="lrsj" jdbcType="DATE" />
    <result column="sfykfp" property="sfykfp" jdbcType="INTEGER" />
    <result column="zzcs" property="zzcs" jdbcType="INTEGER" />
    <result column="qrshfs" property="qrshfs" jdbcType="INTEGER" />
    <result column="sfqrshfs" property="sfqrshfs" jdbcType="INTEGER" />
    <result column="qrshdd" property="qrshdd" jdbcType="VARCHAR" />
    <result column="qsrq" property="qsrq" jdbcType="DATE" />
    <result column="qsqk" property="qsqk" jdbcType="VARCHAR" />
    <result column="shqsddycs" property="shqsddycs" jdbcType="INTEGER" />
    <result column="fhtzpzbh" property="fhtzpzbh" jdbcType="VARCHAR" />
    <result column="dhtzpzbh" property="dhtzpzbh" jdbcType="VARCHAR" />
    <result column="ydlx" property="ydlx" jdbcType="INTEGER" />
    <result column="khhd" property="khhd" jdbcType="INTEGER" />
    <result column="khhdsm" property="khhdsm" jdbcType="VARCHAR" />
    <result column="ldy" property="ldy" jdbcType="VARCHAR" />
    <result column="thywy" property="thywy" jdbcType="VARCHAR" />
    <result column="shywy" property="shywy" jdbcType="VARCHAR" />
    <result column="kdy" property="kdy" jdbcType="VARCHAR" />
    <result column="ldyszgs" property="ldyszgs" jdbcType="CHAR" />
    <result column="nbbz" property="nbbz" jdbcType="VARCHAR" />
    <result column="hh" property="hh" jdbcType="VARCHAR" />
    <result column="qydssyjgs" property="qydssyjgs" jdbcType="CHAR" />
    <result column="mddssyjgs" property="mddssyjgs" jdbcType="CHAR" />
    <result column="mddzbh_1" property="mddzbh1" jdbcType="CHAR" />
    <result column="mddzbh_2" property="mddzbh2" jdbcType="CHAR" />
    <result column="mddzbh_3" property="mddzbh3" jdbcType="CHAR" />
    <result column="sfytz" property="sfytz" jdbcType="INTEGER" />
    <result column="yd_fcbh" property="ydFcbh" jdbcType="VARCHAR" />
    <result column="yd_cph" property="ydCph" jdbcType="VARCHAR" />
    <result column="yyshsj" property="yyshsj" jdbcType="DATE" />
    <result column="fdfs" property="fdfs" jdbcType="INTEGER" />
    <result column="zzfwxmjfy" property="zzfwxmjfy" jdbcType="VARCHAR" />
    <result column="yd_fhfph" property="ydFhfph" jdbcType="VARCHAR" />
    <result column="yd_fhbzrq" property="ydFhbzrq" jdbcType="DATE" />
    <result column="yd_fhbzd" property="ydFhbzd" jdbcType="VARCHAR" />
    <result column="yd_dhfph" property="ydDhfph" jdbcType="VARCHAR" />
    <result column="yd_dhbzrq" property="ydDhbzrq" jdbcType="DATE" />
    <result column="yd_dhbzd" property="ydDhbzd" jdbcType="VARCHAR" />
    <result column="yd_fhfcbh" property="ydFhfcbh" jdbcType="VARCHAR" />
    <result column="yd_fhcph" property="ydFhcph" jdbcType="VARCHAR" />
    <result column="yd_qtsf" property="ydQtsf" jdbcType="REAL" />
    <result column="yd_qtsf_dh" property="ydQtsfDh" jdbcType="REAL" />
    <result column="tswp" property="tswp" jdbcType="INTEGER" />
    <result column="qzh" property="qzh" jdbcType="INTEGER" />
    <result column="yxh" property="yxh" jdbcType="INTEGER" />
    <result column="fwlx" property="fwlx" jdbcType="INTEGER" />
    <result column="bzmx" property="bzmx" jdbcType="VARCHAR" />
    <result column="dxfw" property="dxfw" jdbcType="INTEGER" />
    <result column="tff" property="tff" jdbcType="REAL" />
    <result column="xxf" property="xxf" jdbcType="REAL" />
    <result column="shrjsys" property="shrjsys" jdbcType="REAL" />
    <result column="shrjsss" property="shrjsss" jdbcType="REAL" />
    <result column="dsfzfys" property="dsfzfys" jdbcType="REAL" />
    <result column="dsfzfss" property="dsfzfss" jdbcType="REAL" />
    <result column="dsfkhbh" property="dsfkhbh" jdbcType="CHAR" />
    <result column="dsfkhmc" property="dsfkhmc" jdbcType="VARCHAR" />
    <result column="dsflxr" property="dsflxr" jdbcType="VARCHAR" />
    <result column="dsfdz" property="dsfdz" jdbcType="VARCHAR" />
    <result column="record_date" property="recordDate" jdbcType="DATE" />
    <result column="shyqbh" property="shyqbh" jdbcType="CHAR" />
    <result column="tzkhsj" property="tzkhsj" jdbcType="DATE" />
    <result column="khqssj" property="khqssj" jdbcType="DATE" />
    <result column="thmm" property="thmm" jdbcType="CHAR" />
    <result column="tbhwlx" property="tbhwlx" jdbcType="INTEGER" />
    <result column="eas_sfsd" property="easSfsd" jdbcType="INTEGER" />
    <result column="eas_fq" property="easFq" jdbcType="REAL" />
    <result column="eas_js" property="easJs" jdbcType="REAL" />
    <result column="eas_df" property="easDf" jdbcType="REAL" />
    <result column="eas_dfjs" property="easDfjs" jdbcType="REAL" />
    <result column="eas_dsf" property="easDsf" jdbcType="REAL" />
    <result column="isfqdyd" property="isfqdyd" jdbcType="INTEGER" />
    <result column="eas_sggzsd" property="easSggzsd" jdbcType="INTEGER" />
    <result column="lhy" property="lhy" jdbcType="VARCHAR" />
    <result column="last_mod_date" property="lastModDate" jdbcType="DATE" />
    <result column="ryf" property="ryf" jdbcType="REAL" />
    <result column="pdaxxbs" property="pdaxxbs" jdbcType="INTEGER" />
    <result column="dphbs" property="dphbs" jdbcType="INTEGER" />
    <result column="pdajs" property="pdajs" jdbcType="INTEGER" />
    <result column="pdazxtx" property="pdazxtx" jdbcType="VARCHAR" />
    <result column="zxzl" property="zxzl" jdbcType="REAL" />
    <result column="fhrareacode" property="fhrareacode" jdbcType="CHAR" />
    <result column="shrareacode" property="shrareacode" jdbcType="CHAR" />
    <result column="ys" property="ys" jdbcType="INTEGER" />
    <result column="ext_khdh" property="extKhdh" jdbcType="VARCHAR" />
    <result column="sfgzdkh" property="sfgzdkh" jdbcType="INTEGER" />
    <result column="ydly" property="ydly" jdbcType="INTEGER" />
    <result column="omszt" property="omszt" jdbcType="INTEGER" />
    <result column="yd_dycs" property="ydDycs" jdbcType="INTEGER" />
    <result column="dshk_zhxx" property="dshkZhxx" jdbcType="VARCHAR" />
    <result column="sxjssj" property="sxjssj" jdbcType="DATE" />
    <result column="ljhh" property="ljhh" jdbcType="VARCHAR" />
    <result column="ydqszt" property="ydqszt" jdbcType="INTEGER" />
    <result column="dshksxf_sqfs" property="dshksxfSqfs" jdbcType="INTEGER" />
    <result column="sccwslsj" property="sccwslsj" jdbcType="DATE" />
    <result column="ydlb" property="ydlb" jdbcType="INTEGER" />
    <result column="ydlb_fh" property="ydlbFh" jdbcType="INTEGER" />
    <result column="ydlb_dh" property="ydlbDh" jdbcType="INTEGER" />
    <result column="ydlb_dsf" property="ydlbDsf" jdbcType="INTEGER" />
    <result column="ydlb_dssxf" property="ydlbDssxf" jdbcType="INTEGER" />
    <result column="oms_ddqd" property="omsDdqd" jdbcType="VARCHAR" />
    <result column="max_khyqddsj" property="maxKhyqddsj" jdbcType="DATE" />
    <result column="slf" property="slf" jdbcType="REAL" />
    <result column="ydxcjl" property="ydxcjl" jdbcType="REAL" />
    <result column="oms_discount" property="omsDiscount" jdbcType="REAL" />
    <result column="payer_type" property="payerType" jdbcType="INTEGER" />
    <result column="sfrfd" property="sfrfd" jdbcType="INTEGER" />
    <result column="transporttype" property="transporttype" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectYd" resultMap="BaseResultMap" >
    SELECT ydbh,SHRDZ from ld_yd
  </select>
</mapper>